version: '2'

services:
  sqlserver:
    container_name: sqlserver
    build: .                            
    ports:
      - "15789:1433"
    env_file:
      - ./msserver-setup-files/sqlserver.env
      - ./msserver-setup-files/sapassword.env
#    volumes: 
#      - sqlsystem:/var/opt/mssql/
#      - sqldata:/var/opt/sqlserver/data
#      - sqllog:/var/opt/sqlserver/log
#      - sqlbackup:/var/opt/sqlserver/backup


  kafka-cluster:
    container_name: kafka-systems
    image: landoop/fast-data-dev
    environment:
      ADV_HOST: 127.0.0.1         # Change to 192.168.99.100 if using Docker Toolbox
      RUNTESTS: 0                 # Disable Running tests so the cluster starts faster
    ports:
      - 2181:2181                 # Zookeeper
      - 3030:3030                 # Landoop UI
      - 8081-8083:8081-8083       # REST Proxy, Schema Registry, Kafka Connect ports
      - 9581-9585:9581-9585       # JMX Ports
      - 9092:9092                 # Kafka Broker
    volumes:
      - ./plugins:/connectors
    depends_on:
      - sqlserver
      - mongo1
      - mongo2
      - mongo3

  mongo-express:
    container_name: mongo-express
    image: mongo-express
    ports:
      - 8011:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo1
    links:
      - mongo1
      - mongo2
      - mongo3

  # MongoDB Replica Set
  mongo1:
    image: "mongo:4.0-xenial"
    container_name: mongo1
    command: --replSet rs0 --smallfiles --oplogSize 128
    volumes:
      - rs1:/data/db
    ports:
      - "27017:27017"
    restart: always
  mongo2:
    image: "mongo:4.0-xenial"
    container_name: mongo2
    command: --replSet rs0 --smallfiles --oplogSize 128
    volumes:
      - rs2:/data/db
    ports:
      - "27018:27017"
    restart: always
  mongo3:
    image: "mongo:4.0-xenial"
    container_name: mongo3
    command: --replSet rs0 --smallfiles --oplogSize 128
    volumes:
      - rs3:/data/db
    ports:
      - "27019:27017"
    restart: always

volumes:
  plugins:
    external: true
  rs1:
  rs2:
  rs3:

#  sqlsystem:
#  sqldata:
#  sqllog:
#  sqlbackup:
